* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111827;
    color: white;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #38bdf8;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #1f2937;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 15px;

        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}